/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap');

body {
  font-family: 'Roboto', 'sans-serif';

}


.container-login{
    height: 805px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}


input[type=text],input[type=password]{
  display: flex;
  width: 450px;
  height: 40px;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 5px;
  border: 2px solid #ccc;
  color:#8D0C4C;
  font-size: 19px;
  border-radius: 5px;
  font-weight: 400;
}

center{
font-size:32px;
}

.login-btn {
  width: 100%;
  height: 60px;
  background-color: #8D0C4C;
  border: 3px solid #8D0C4C;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 30px;
}

.login-btn:hover {
  background-color: #8d0c4d8a;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


input[type=button]{
font-size: 16px;
background-color: #F1B0CE;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
}
input[type=button]:hover{
color: #F1B0CE;
background-color: #8D0C4C;
}
label{
    color: #8D0C4C;
    text-shadow:#8D0C4C;
    
}
body {
    display: flex;
    max-width: 1920px;
    min-height: 100%;
    margin: 0;
    flex-direction: column;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    flex: 1;
  
  }
  
  
  
  header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    max-width: 1920px;
    top:0;
  
  }
  
  .info {
    width: 100%;
    height: 33px;
    background-color: #F9E1E1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
  }
  
  .log-reg {
    display: flex;
    gap: 10px;
    margin-right: 50px;
  
  }
  
  .login{    
    width:auto;
    height: 15px;
    color:#8D0C4C;
    text-decoration: none;
    text-align: center;

}

.register {
    width:auto;
    height: 15px;
    color: #F9E1E1;
    text-decoration: none;
    text-align: center;

}

.log {
    width: 65px;
    height: 20px;
    background-color:#F1B0CE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg {
    width: 100px;
    height: 20px;
    background-color: #8D0C4C;
    display: flex;
    justify-content: center;
    align-items: center;

}
  
  .info .title {
  
    justify-content: center;
    display: flex;
    color: #F1B0CE;
  }
  
  .nav {
    width: 100%;
    height: 58.67px;
    background-color: #F1B0CE;
    position: fixed;
    display: flex;
    max-width: 1920px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F1B0CE;
    position: fixed;
  }
  
  li {
    float: left;
  }
  
  .logo {
    height: 50px;
    width: auto;
    justify-content: center;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
  }
  
  .logo-link {
    padding: 0px;
    display: flex;
    align-items: center;
  
  
  }
  
  li a:hover {
    background-color: #8D0C4C;
  }
  
  .logo-link:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    overflow: visible;
  
  }
  
  footer{
  
    max-width: 1920px;
    text-align: center;
    margin-top: 20px;
    height: 100%;
  }
  
  .footer{
    background-color: #F9E1E1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  
  
  }
  
  .social{
    margin-top: 25px;
    margin-left: 25px;
    gap: 10px;
    display: flex;
    align-items: center;
    color: #8D0C4C;
  }
  
  .logo-footer{
    width: 39px;
    height: 35px;
  }
  
  .social .tt,.ig{
    text-decoration: none;
    color:#8D0C4C
  }
  
  .txt{
    display: contents;
    flex-direction: column;
    text-align: center;
  }
  .poruka{
    display: flex;
    justify-content:center;
    text-align: center;
    font-style: italic;
    font-size: 38px;
    color: #F1B0CE
  }
  
  .sp{
    display: flex;
    justify-content: center;
    text-align: center;
  }