@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

body {
  max-width: 1920px;
  min-height: 100%;
  margin: 0;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  flex: 1;

}



header {
  width: 100%;
  max-width: 100%;
  position: fixed;
  max-width: 1920px;
  top:0;

}

.info {
  width: 100%;
  height: 33px;
  background-color: #F9E1E1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
}

.log-reg {
  display: flex;
  gap: 10px;
  margin-right: 50px;

}

.login,
.register {
  width: 50px;
  height: 15px;
  color: #F9E1E1;
  text-decoration: none;
  text-align: center;

}

.log {
  width: 65px;
  height: 30px;
  background-color: #8D0C4C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg {
  width: 120px;
  height: 30px;
  background-color: #8D0C4C;
  display: flex;
  justify-content: center;
  align-items: center;

}

.info .title {

  justify-content: center;
  display: flex;
  color: #F1B0CE;
}

.nav {
  width: 100%;
  height: 58.67px;
  background-color: #F1B0CE;
  position: fixed;
  display: flex;
  max-width: 1920px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F1B0CE;
  position: fixed;
}

li {
  float: left;
}

.logo {
  height: 50px;
  width: auto;
  justify-content: center;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}

.logo-link {
  padding: 0px;
  display: flex;
  align-items: center;


}

li a:hover {
  background-color: #8D0C4C;
}

.logo-link:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  overflow: visible;

}

footer{

  max-width: 1920px;
  text-align: center;
  margin-top: 20px;
  height: 100%;
}

.footer{
  background-color: #F9E1E1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;


}

.social{
  margin-top: 25px;
  margin-left: 25px;
  gap: 10px;
  display: flex;
  align-items: center;
  color: #8D0C4C;
}

.logo-footer{
  width: 39px;
  height: 35px;
}

.social .tt,.ig{
  text-decoration: none;
  color:#8D0C4C
}

.txt{
  display: contents;
  flex-direction: column;
  text-align: center;
}
.poruka{
  display: flex;
  justify-content:center;
  text-align: center;
  font-style: italic;
  font-size: 38px;
  color: #F1B0CE
}

.sp{
  display: flex;
  justify-content: center;
  text-align: center;
}


input,
  textarea,
  select,
  button {
    font-family: "Poppins-Regular";
    color: #333333;
    font-size: 13px;
  }
  

  
  img {
    max-width: 100%;
  }
  
  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  :focus {
    outline: none;
  }
  
  .wrapper {
    height: 805px;
    display: flex;
    align-items: center;
  }
  
  .inner {
    padding: 20px;
    width: 850px;
    margin: auto;
    display: flex;
  }
  
  .inner .image-holder {
    width: 50%;
  }
  
  .inner form {
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px;
  }
  
  .inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    margin-bottom: 28px;
  }
  
  .form-group {
    
    display: flex;
  }
  
  .form-group input {
    width: 50%;
  }
  
  .form-group input:first-child {
    margin-right: 25px;
  }
  
  .form-wrapper {
    display: flex;
    
  }
  
  .form-wrapper i {
    display: flex;
    position: absolute;
    bottom: 9px;
    right: 0;
  }
  
  .form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-bottom: 25px;
  }
  
  .form-control::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular";
  }
  
  .form-control::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular";
  }
  
  .form-control:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular";
  }
  
  .form-control:-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular";
  }
  

  
  select option[value=""][disabled] {
    display: none;
  }
  
  button {
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #333;
    font-size: 15px;
    color: #e0cbcb;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  

  
  @media (max-width: 1199px) {
    .naslovna-desktop {
      background-position: right center;
    }
  }
  
  @media (max-width: 991px) {
    .naslovna-desktop form {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .naslovna-desktop {
      display: block;
    }
  
    .naslovna-desktop .image-holder {
      width: 100%;
    }
  
    .inner form {
      width: 100%;
      padding: 40px 0 30px;
    }
  
    button {
      margin-top: 60px;
    }
  }



.naslovna-desktop .footer {
  position: absolute;
  width: 1437px;
  height: 115px;
  top: 909px;
  left: 5px;
  background-color: #f9e1e1;
}

.naslovna-desktop .p {
  position: absolute;
  width: 617px;
  top: 1px;
  left: 411px;
  font-family: "Karla-Regular", Helvetica;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.naslovna-desktop .overlap {
  position: absolute;
  width: 92px;
  height: 97px;
  top: 2px;
  left: 106px;
}

.naslovna-desktop .instagram-tiktok {
  position: absolute;
  width: 92px;
  top: 34px;
  left: 0;
  font-family: "Jomolhari-Regular", Helvetica;
  font-weight: 400;
  color: #8d0b4b;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.naslovna-desktop .logo {
  width: 39px;
  height: 35px;
  left: 25px;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.naslovna-desktop .text-wrapper-7 {
  position: absolute;
  top: 64px;
  left: 655px;
  font-family: "Jomolhari-Regular", Helvetica;
  font-weight: 400;
  color: #d991b5;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}
